{% extends "index.html" %} 
{% block content %}
    <h1>Atualizar Temas</h1>
    <hr>
        <form action="/updateTheme/{{theme.id}}" method="post">
            {% csrf_token %}
            <label for="">Nome</label>
            <input type="text" size="50" name="name" value="{{theme.name}}">

            <label for="">Cor</label>
            <input type="text" size="50" name="color" value="{{theme.color}}">

            <label for="">Preço (R$)</label>
            <input type="text" size="50" name="price" value="{{theme.price}}">
            
            <input type="submit" value="Gravar">
        </form>
        <hr>
        <a href="/listTheme">Voltar</a>
{% endblock %}