{% extends "index.html" %} 
    {% block content %}
    <p></p>
        <h3>Lista de Temas</h3>
        <hr>
        <table class="table table-striped"> 
            {% if theme_list %}
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Ações</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for theme in theme_list%}
                    <tr>
                        <td>{{theme.id}}</td>
                        <td>{{theme.name}}</td>
                        <td width='80'><a href="/deleteTheme/{{theme.id}}">Excluir</a></td>
                        <td><a href="/detailTheme/{{theme.id}}">Editar</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Nenhum tema cadastrado!!</p>
            {%endif%}
        </table>
        <hr>
        <a class="btn btn-primary" href="/formTheme">Novo Tema</a>
    {% endblock %}