{% extends "index.html" %} 
    {% block content %}
    <div><p></p></div>
    <h3>Cadastro de Clientes</h3>
    <hr>
        <form action="/saveClient/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label  for="name">Nome</label>
                <input type="text" id="name" size="50" name="name"> 
                <input class="btn btn-primary" type="submit" value="Gravar">
            </div> 
        </form>
        <hr>
        <a href="/listClient">Voltar</a>
    {% endblock %}