{% extends "index.html" %} 
    {% block content %}
    <div><p></p></div>
    <h3>Cadastro de Clientes</h3>
    <hr>
        <form action="/saveClient/" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="name">Nome</label>
                <div class="col-sm-11">
                    <input type="text" id="name" size="50" name="name"> 
                </div>
            </div> 
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="email">e-Mail</label>
                <div class="col-sm-11">
                    <input type="email" id="email" size="50" name="email"> 
                </div>
            </div> 
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="phone1">Telefone 1</label>
                <div class="col-sm-11">
                    <input type="text" id="ddd1" size="3" name="ddd1" placeholder="84"> 
                    <input type="text" id="phone1" size="10" name="phone1" placeholder="99419-2907" pattern="[0-9]{5}-[0-9]{4}"> 
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="phone2">Telefone 2</label>
                <div class="col-sm-11">
                    <input type="text" id="ddd2" size="3" name="ddd2" placeholder="84"> 
                    <input type="text" id="phone2" size="10" name="phone2" placeholder="99419-2907" pattern="[0-9]{5}-[0-9]{4}"> 
                </div>
            </div>
            <hr>
            <a class="btn btn-secondary btn-sm" href="/listClient">Voltar</a>
            <input class="btn btn-primary" type="submit" value="Gravar">
        </form>
        
    {% endblock %}