{% extends "index.html" %} 
    {% block content %}
    <p></p>
        <h3>Lista de Itens</h3>
        <hr>
        <table class="table table-striped">
            {% if item_list %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ações</th>
                    <th scope="col"></th>
                </tr>
            </thead>
                {% for item in item_list%}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td width='80'><a href="/deleteItem/{{item.id}}">Excluir</a></td>
                        <td><a href="/detailItem/{{item.id}}">Editar</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Nenhum item cadastrado!!</p>
            {%endif%}
        </table>
        <hr>
        <a class="btn btn-primary" href="/formItem">Novo Item</a>
    {% endblock %}