{% extends "index.html" %} 
{% block content %}
    <div><p></p></div>
    <h3>Atualizar Aluguel</h3>
    <hr>
        <form action="/updateRent/{{rent.id}}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="date">Data</label>
                <div class="col-sm-11">
                    <input id="date" type="date" name="date" value="{{rent.date|date:'Y-m-d'}}">
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="start">Hora Início</label>
                <div class="col-sm-11">
                    <input id="start" type="time" name="start_hours" value="{{rent.start_hours}}">
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label" for="end">Hora Fim</label>
                <div class="col-sm-11">
                    <input id="end" type="time" name="end_hours" value="{{rent.end_hours}}">
                </div>
            </div>
            <hr>
            <a class="btn btn-secondary btn-sm" href="/listRent">Voltar</a>    
            <input class="btn btn-primary" type="submit" value="Gravar">
        </form>
        
{% endblock %}