{% extends "index.html" %} 
    {% block content %}
    <p></p>
        <h3>Lista de Alugueis</h3>
        <hr>
        <table class="table table-striped">
            {% if rent_list %}
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tema</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Data Aluguel</th>
                        <th scope="col">Hora início</th>
                        <th scope="col">Hora Fim</th>
                        <th scope="col">Ações</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for rent in rent_list%}
                    <tr>
                        <td width='15'>{{rent.id}}</td>
                        <td width='170'>{{rent.theme.name}}</td>
                        <td width='170'>{{rent.client.name}}</td>
                        <td width='170'>{{rent.date}}</td>
                        <td width='170'>{{rent.start_hours}}</td>
                        <td width='170'>{{rent.end_hours}}</td>
                        <td width='70'><a href="/deleteRent/{{rent.id}}">Excluir</a></td>
                        <td><a href="/detailRent/{{rent.id}}">Editar</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>Nenhum item cadastrado!!</p>
            {%endif%}
        </table>
        <hr>
        <a class="btn btn-primary" href="/formRent">Novo Aluguel</a>
    {% endblock %}